@import "tailwindcss";

/* hides the scrollbar visually without disabling scrolling */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* older Edge/IE */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, newer Edge */
}
